<div class="container-xl container-md">
    <div class="row">
        <div class="col">
            <h1>Cars List</h1>
            <div class="divider pt-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- TODO: fix me -->
            <!-- <app-search></app-search> -->
            <input
                type="search"
                class="form-control"
                id="search"
                placeholder="Search..."
                [(ngModel)]="searchText"
                autocomplete="off"
            />
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 text-end">
            <button type="button" class="btn btn-success btn-add-car">
                Add
            </button>
        </div>
    </div>

    <div class="row pt-5 card-group">
        <!-- TODO: fix me -->
        <!-- <app-card-item
                *ngFor="let car of response | appFilter: searchText"
                [car]="car"
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
                [response]="response"
            ></app-card-item> -->
        <!-- TODO: fix me -->
        <div
            *ngFor="let car of response | appFilter: searchText"
            class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
        >
            <div class="card mb-2">
                <img
                    src="http://localhost:3000/images/{{ car.image }}"
                    class="card-img-top"
                    alt="ffff"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ car.name }}</h5>
                </div>
                <ul class="list-group-featured m-0">
                    <li class="mb-1">
                        <div class="label">Model:</div>
                        <div>{{ car.model.name }}</div>
                    </li>
                    <li class="mb-1">
                        <div class="label">Color:</div>
                        <div>{{ car.color }}</div>
                    </li>
                    <li class="mb-1">
                        <div class="label">Year:</div>
                        <div>{{ car.year }}</div>
                    </li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-secondary me-3">
                        Update
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="openModal(car.name)"
                    >
                        Delete
                    </button>
                    <jw-modal id={{car.name}}  class="modal">
                        <div>{{ car.name }}</div>
                        <p>Home page text</p>
                        <button (click)="closeModal(car.name);">Close</button>
                        <button (click)="handleDeleteClick(car.id)">Delete</button>
                    </jw-modal>
                </div>
            </div>
        </div>
        <!-- TODO: fix me -->
    </div>
</div>

<!-- (click)="handleDeleteClick(car.id)" -->