<div class="container-xl container-md">
    <div class="row">
        <div class="col">
            <h1>Cars List</h1>
            <div class="divider pt-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- TODO: fix me -->
            <!-- <app-search></app-search> -->
            <input
                type="search"
                class="form-control"
                id="search"
                placeholder="Search..."
                [(ngModel)]="searchText"
                autocomplete="off"
            />
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 text-end">
            <button
                type="button"
                class="btn btn-success btn-add-car"
                (click)="openModalNew('add-new-car')"
            >
                Add
            </button>
        </div>
    </div>

    <div class="row pt-5 card-group">
        <!-- TODO: fix me -->
        <!-- <app-card-item
                *ngFor="let car of response | appFilter: searchText"
                [car]="car"
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
                [response]="response"
            ></app-card-item> -->
        <!-- TODO: fix me -->
        <div
            *ngFor="let car of response | appFilter: searchText"
            class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
        >
            <div class="card mb-2">
                <img
                    src="http://localhost:3000/images/{{ car.image }}"
                    class="card-img-top"
                    alt="ffff"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ car.name }}</h5>
                </div>
                <ul class="list-group-featured m-0">
                    <li class="mb-1">
                        <div class="label">Model:</div>
                        <div>{{ car.model.name }}</div>
                    </li>
                    <li class="mb-1">
                        <div class="label">Color:</div>
                        <div>{{ car.color }}</div>
                    </li>
                    <li class="mb-1">
                        <div class="label">Year:</div>
                        <div>{{ car.year }}</div>
                    </li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-secondary me-3">
                        Update
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="openModal(car.name)"
                    >
                        Delete
                    </button>
                    <modal-confirm id={{car.name}} class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ car.name }}</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this car?</p>
                                </div>
                                <div class="modal-footer">
                                    <button (click)="closeModal(car.name);" class="btn btn-secondary">Cansel</button>
                                    <button (click)="handleDeleteClick(car.id)" class="btn btn-primary dark-blue">Delete</button>
                                </div>
                            </div>
                        </div>
                    </modal-confirm>
                </div>
            </div>
        </div>
        <!-- TODO: fix me -->
    </div>
</div>

<modal-confirm id="add-new-car" class="modal">
    
    
    <div class="modal-dialog">
        <div class="modal-content">
            <form-editor [carModels]="carModels"></form-editor>
            <!-- <div class="modal-header">
                <h5 class="modal-title">Add new car</h5>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name <span class="red">*</span></label>
                <input type="text" class="form-control" id="name" placeholder="" required autocomplete="off" >
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model <span class="red">*</span></label>
                <select class="form-select" aria-label="Default select example" id="model">
                    <option selected>Select model</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Color <span class="red">*</span></label>
                <input type="text" class="form-control" id="color" placeholder="" required autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year <span class="red">*</span></label>
                <input type="text" class="form-control" id="year" placeholder="" required autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image <span class="red">*</span></label>
                <input type="file" class="form-control" id="image" required autocomplete="off" lang="en">
            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary dark-blue">Add</button>
            </div> -->
                
        </div>
    </div>
</modal-confirm>