<form [formGroup]="formAddCar" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Name <span class="red">*</span></label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="" required autocomplete="off" >
    </div>
    <div class="mb-3">
        <label for="modelId" class="form-label">Model <span class="red">*</span></label>
        <select
            class="form-select"
            formControlName="modelId"
            aria-label="Default select example"
            id="modelId"
        >
            <option
                *ngFor="let carModel of carModels" [value]="carModel.id">
                {{ carModel.name }}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="color" class="form-label">Color <span class="red">*</span></label>
        <input type="text" formControlName="color" class="form-control" id="color" placeholder="" required autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Year <span class="red">*</span></label>
        <input type="number" formControlName="year" class="form-control" id="year" placeholder="" required autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image <span class="red">*</span></label>
        <input
            type="file"
            formControlName="image"
            class="form-control"
            id="image"
            required
            autocomplete="off"
            (change)="onChange($event)"
        >
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!formAddCar.valid"  class="btn btn-primary dark-blue">Add</button>
    </div>
</form>
