/* MODAL STYLES
-------------------------------*/
modal-confirm {
    /* modals are hidden by default */
    display: none;

    .modal-confirm {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-confirm-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .modal-dialog {
            .modal-content {
                padding: 24px;

                .modal-confirm-body {
                    padding: 24px;
                    margin: 30px auto;
                    width: 420px;
                    height: 180px;
                    background: #FFFFFF;
                    border: 1px solid #DEE2E6;
                    border-radius: 4px;
                }
                .modal-header{
                    border-bottom: none;
                    padding: 0 0 24px 0;
                }
                .modal-footer{
                    border-top: none;
                    padding: 0;
                }
                .modal-title {
                    color: #152536;
                    font-weight: 700;
                    font-size: 24px;
                }
                .modal-body {
                    padding: 0;
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                    }
                }
                .btn-primary{
                    &.dark-blue{
                        background-color: #052C65;
                        &:hover {
                            background-color: #08387e;
                        }
                    }
                }
                .red {
                    color: red;
                }
            }

        }
    }

    .modal-confirm-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal-confirm and above everything else  */
        z-index: 900;
    }
}

body.modal-confirm-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
